.calc {
   position: relative;

   &__decor {
      position: absolute;
      max-height: rem(838);
      @include adaptiveValue("width", 864, 50);
      @include adaptiveValue("height", 838, 50);
      right: -5%;
      z-index: -1;
      @include adaptiveValue("top", 100, 550);
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.02);

      @media (max-width: em(624)) {
         visibility: hidden;
      }
   }

   .decor__eyes {
      position: relative;
      width: 100%;
      height: 100%;

      &::after {
         position: absolute;
         content: "";
         @include adaptiveValue("width", 118, 30);
         height: rem(52);
         top: 40%;
         left: 10%;
         background: url(https://cdn.shopify.com/s/files/1/0807/4900/3083/files/eye.svg?v=1707661667);
         background-size: contain;
         background-repeat: no-repeat;
      }

      &::before {
         position: absolute;
         content: "";
         @include adaptiveValue("width", 118, 30);
         height: rem(52);
         top: 40%;
         left: 30%;
         background: url(https://cdn.shopify.com/s/files/1/0807/4900/3083/files/eye.svg?v=1707661667);
         background-size: contain;
         background-repeat: no-repeat;

         @media (max-width: $tablet) {
            left: 35%;
         }
      }
   }

   .decor__eyes.eye-opened::before,
   .decor__eyes.eye-opened::after {
      background: url(https://cdn.shopify.com/s/files/1/0807/4900/3083/files/eye-opened.svg?v=1707661667)
         no-repeat center;
      @include adaptiveValue("width", 118, 30);
      height: rem(52);
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block !important;
   }

   &__container {
      display: flex;
      justify-content: space-between;
      gap: rem(70);
      @media (max-width: em(992)) {
         display: flex;
         flex-direction: column;
         align-items: center;
      }
   }

   &__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: rem(15);
      padding-left: rem(20);

      .nav__btn.btn {
         height: rem(54);
         justify-content: center;

         @media (max-width: em(992)) {
            height: auto;
            padding: 8px 10px;
            font-size: 14px;
            max-width: max-content;
         }
      }

      @media (max-width: em(1280)) {
         display: grid;
         width: 100%;
         grid-template-rows: 1fr 1fr;
         grid-template-columns: 65% 35%;
         gap: 11px;
         height: 100%;
      }
   }
}
.nav__btn-header.header-btn p {
   font-weight: 700;
   font-size: 17px;
}

.nav__switch::-webkit-scrollbar {
   display: none;
}

.nav {
   &__title {
      text-align: center;
      @include adaptiveValue("font-size", 25, 20);
      font-weight: 600;

      @media (max-width: em(1024)) {
         grid-row-start: 1;
         grid-column-start: 1;
         grid-row-end: 2;
         grid-column-end: 2;
      }
   }

   &__btn {
      @media (max-width: $mobile) {
         grid-row-start: 1;
         grid-column-start: 2;
         grid-row-end: 2;
         grid-column-end: 3;
         max-width: rem(94);
         padding: rem(8) rem(10);

         span {
            display: none;
         }
      }
   }

   &__btn-header {
      gap: rem(10);
   }

   &__switch {
      background-color: #fff;
      border: 1px solid #ececec;
      border-radius: rem(10);
      display: flex;
      align-items: center;
      gap: rem(10);
      justify-content: center;
      padding: 0 rem(3);
      overflow-x: auto;
      font-weight: 500;

      @media (max-width: em(1328)) {
         grid-row-start: 2;
         grid-column-start: 1;
         grid-row-end: 3;
         grid-column-end: 3;
         width: auto;
      }

      @media (max-width: $mobile) {
         justify-content: flex-start;
      }

      &_mode {
         flex-shrink: 0;
         text-wrap: nowrap;
         text-align: center;
         font-size: rem(16);
         padding: rem(15);
         margin: rem(3) 0;
         cursor: pointer;
         transition: color 0.5s ease-out;
         border-radius: rem(8);

         &:hover {
            background-color: #e8e8e8;
            font-weight: 600;
         }

         @media (max-width: $tablet) {
            font-size: rem(14);
            padding: rem(15);
         }
      }

      &_rate {
         display: flex;
         align-items: center;
         padding-right: rem(15);
         font-size: rem(16);
         gap: rem(5);

         span {
            font-size: rem(13);
            text-decoration: underline;
         }
      }
   }
}

.active-tab {
   background-color: $yellow;
   border: 1px solid #eec200;
   font-weight: 600;
}

//========================================================================================================================================================

.calculator {
   position: sticky;
   top: rem(95);
   margin: rem(72) 0 rem(60) 0;
   padding: rem(35);
   background-color: #fff;
   border-radius: rem(18);
   box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
   max-width: rem(347);
   display: flex;
   flex-direction: column;
}
.calculator__wrapper {
   position: relative;
}

.calc {
   &__title {
      font-size: rem(15);
      font-weight: 600;
   }

   &__subtitle {
      display: flex;
      align-items: start;
      gap: rem(10);
      color: #9d9d9d;
      font-size: rem(12);
      font-weight: 600;
      margin: rem(15) 0;
   }

   &__switch {
      display: flex;
      align-items: center;
      gap: rem(10);
      margin: rem(40) 0 0 0;
   }

   &__btn {
      width: auto;
      align-self: flex-end;
      cursor: pointer;
      box-shadow: none;
      padding: rem(9) rem(20);
      &:hover {
         box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.3);
      }
   }
}
.last_title {
   margin-top: rem(23);
}

.calc__footer {
   display: none;
   justify-content: flex-end;
   background: url(https://cdn.shopify.com/s/files/1/0807/4900/3083/files/footer_f9690560-e554-465f-8020-78bf54126e64.svg?v=1707774720);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: left bottom;
   margin-top: rem(12);

   @media (max-width: $mobile) {
      display: flex;
   }
}

.wrapper > .calc__footer > .calc__btn {
   @media (max-width: $tablet) {
      display: block;
      margin: rem(0) rem(18) rem(12) 0;
   }
}

.wrapper_calc > .footer > .footer__btn {
   display: none;
}

//======================== calc products ==========================================================================================
.decor__content {
   padding-top: 157px;
   opacity: 0;
   transition: all 0.3s ease;
}
.calc_product_item.active {
   border: 2px solid #1c1c1c;
}
.calc_product_item.active .calc_product_badge {
   display: block;
}
.relative {
   position: relative;
}
.calc_product_badge {
   border-radius: 8px;
   background: #ffd51c;
   padding: 3px 8px 4px 8px;
   position: absolute;
   top: 7px;
   left: 7px;
   display: none;
}
.decor__text {
   position: relative;
   left: -18px;
   color: #000;
   text-align: center;
   font-family: Brockmann;
   font-size: 25px;
   font-style: normal;
   font-weight: 600;
   max-width: 525px;
}
.eyes__opened {
   margin-top: 61px;
   margin-left: 73px;
}
.calc .decor__eyes.hide_pseudo:before,
.calc .decor__eyes.hide_pseudo:after {
   opacity: 0;
}

.calculator_products {
   margin: rem(72) 0 rem(60) 0;
   flex-grow: 1;
   opacity: 0;
   visibility: hidden;
   transition: all 0.4s ease;
   height: 0px;
}

.calculator_products h2 {
   font-size: 35px;
   font-style: normal;
   font-weight: 600;
   margin-bottom: 30px;
}
.calc_best_match {
   margin-bottom: 86px;
}
.all_products_list {
   display: grid;
   gap: 25px;
}
.calc_product_item {
   border-radius: 18px;
   border: 1px solid #d4d4d4;
   background: #fff;
   padding: 15px 20px 17px;
   .btn {
      width: auto;
      box-shadow: none;
      transition: all 0.3s ease;
      &:hover {
         box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.3);
      }
   }
}
.calc_product_grid {
   display: grid;
   grid-template-columns: 373px 1fr;
   gap: 25px;
}
.calc_product_head {
   border-bottom: 1px solid #f0f0f0;
   padding-bottom: 15px;
   margin-bottom: 13px;

   ._1 {
      padding-right: 60px;
   }
}
.text_15_700 {
   font-size: 15px;
   font-weight: 700;
}
.flex_between {
   display: flex;
   justify-content: space-between;
}
.flex_end {
   display: flex;
   justify-content: flex-end;
}
.gap_35 {
   gap: 35px;
}
.mb-5 {
   margin-bottom: 5px;
}
.text_12_400 {
   font-size: 12px;
   font-weight: 400;
}
.compared_price {
   text-decoration: line-through;
}
.vertical_center {
   display: flex;
   align-items: center;
}
.calc_product_image {
   height: 141px;
   border-radius: 8px;
}
.calc_product_content {
   padding: 35px 38px;
   border-radius: 8px;
   background: #f4f4f4;
}
.calc_product_text {
   max-width: 368px;
}
.tablet_show,
.tablet_show_flex {
   display: none;
}

@media screen and (max-width: 767px) {
   .tablet_hide {
      display: none;
   }
   .tablet_show {
      display: block;
   }
   .tablet_show_flex {
      display: flex;
   }

   .calc_product_grid {
      grid-template-columns: 1fr;
   }
   .calc_product_head.calc_product_grid {
      display: flex;
      justify-content: space-around;
   }
   .calc_product_head ._1 {
      width: 100%;
      padding-right: 0px;
   }
   .calc_product_image {
      width: 100%;
      object-fit: cover;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
   }
   .calc_product_main.calc_product_grid {
      gap: 0;
   }
   .calc_product_content {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
   }
   .calc_product_content {
      margin-bottom: 22px;
   }
}
