//====================================================================================================

.footer__item.copyright {
   min-width: rem(238);
}
.footer__item.copyright a {
   text-decoration: underline;
   text-underline-offset: 2px;
}
.footer__item.copyright a:hover {
   opacity: 0.9;
}
.footer__item.newsletter {
   width: rem(257);
}
.footer__item .pb-13 {
   padding-bottom: 13px;
}
.footer__item .pb-10 {
   padding-bottom: 10px;
}
.footer {
   min-height: 40vh;
   background-color: #ffd51c;

   &__container {
      display: grid;
      grid-template-columns: repeat(5, auto);
      gap: 90px;
      padding: 55px 70px;
      max-width: rem(1440);

      @media (max-width: $tablet) {
         flex-direction: column;
         padding-left: rem(35);
         grid-template-columns: 1fr;
         gap: rem(60);
      }
   }

   &__item {
      display: flex;
      flex-direction: column;
      column-gap: rem(23);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      @media (max-width: $tablet) {
         width: 100%;
      }

      a {
         padding-bottom: rem(8);
      }

      label {
         position: relative;
         width: 100%;
      }

      input {
         padding: 10px 0 10px 14px;
         border-radius: 6px;
         width: 100%;
         background: #ffe67a;
         margin-bottom: rem(38);
      }

      button {
         position: absolute;
         color: #fff;
         background-color: #000;
         width: 33px;
         height: 33px;
         border-radius: 6px;
         top: 2px;
         right: 2px;
      }

      h3 {
         font-size: 18px;
         font-style: normal;
         font-weight: 600;
         line-height: normal;
         padding-bottom: rem(23);
      }
   }

   &__socials {
      display: flex;
      gap: rem(20);
   }

   &__btn {
      background: #fff;
      height: rem(65);
      width: 100%;
      border-radius: 0;
      color: $mainColor;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 rem(20);

      ._icon-arrow-r {
         background: #ffd51c;
         display: inline-block;
         width: rem(50);
         height: rem(50);
         display: flex;
         justify-content: center;
         align-items: center;
         border-radius: 50%;
      }
   }

   &__btn-header {
      display: flex;
      flex-direction: column;

      span {
         font-size: rem(12);
         color: #9d9d9d;
      }
   }
}

.copyright {
   h3 {
      font-size: rem(14);
   }

   span {
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      opacity: 0.5;
   }
}

.footer__btn {
   display: none;

   @media (max-width: $mobile) {
      display: flex;
   }
}

//====================================================================================================
