//Burger

.icon-menu {
   display: none;

   @media (max-width: $tablet) {
      display: block;
      position: relative;
      width: rem(12);
      height: rem(9);
      z-index: 5;

      @media (any-hover: none) {
         cursor: default;
      }

      &::before,
      &::after {
         content: "";
         transition: all 0.3s ease 0s;
         right: 0;
         position: absolute;
         width: 100%;
         height: rem(2);
         background-color: #000;
      }

      &::before {
         top: 0;
      }

      &::after {
         bottom: 0;
      }

      span {
         top: calc(50% - rem(1));
      }

      .menu-open & {
         span {
            width: 0;
         }

         &::before,
         &::after {
         }

         &::before {
            top: calc(50% - rem(1));
            transform: rotate(-45deg);
         }

         &::after {
            bottom: calc(50% - rem(1));
            transform: rotate(45deg);
         }
      }
   }
}

.button__wrapper {
   @media (max-width: $tablet) {
      background-color: #fbf3ea;
      padding: rem(7.5) rem(6);
   }
}

.header_v2 {
   @include adaptiveValue("height", 90, 60);
   &__container {
      height: 100%;
      display: flex;
      align-items: center;
      @include adaptiveValue("gap", 50, 20);

      @media (max-width: $mobile) {
         display: flex;
         position: fixed;
         z-index: 2;
         width: 100%;
         justify-content: space-between;
         background-color: #fff;
         height: rem(55);

         .header_v2__logo {
            order: 2;
         }

         .icon-menu {
            order: 1;
         }

         .header_v2__basket {
            order: 3;
         }
      }
   }

   &__logo {
      display: flex;
      @include adaptiveValue("gap", 18, 10);

      img {
         @include adaptiveValue("width", 47, 37);
      }

      span {
         @include adaptiveValue("font-size", 35, 25);
         font-weight: 800;
         line-height: rem(27.4);
      }
   }

   &__basket {
      display: none;

      @media (max-width: $tablet) {
         display: block;
      }
   }
}

.menu {
   display: flex;
   align-items: center;
   position: relative;

   &__body {
      @media (max-width: $tablet) {
         position: fixed;
         width: 100%;
         height: 100%;
         left: 0;
         top: rem(55);
         overflow: auto;
         background-color: #fbf3ea;
         padding: rem(80) rem(15) rem(30) rem(15);
         z-index: 3;
         left: -100%;
         transition: left 0.3s ease;

         .menu-open & {
            top: rem(55);
            left: 0;
         }
      }
   }

   &__list {
      display: flex;
      @include adaptiveValue("gap", 50, 0);

      @media (max-width: $tablet) {
         flex-direction: column;
         gap: rem(50) !important;
         align-items: start;
      }
   }

   &__item {
      display: flex;
      flex-direction: row-reverse;
      gap: rem(10);

      @media (max-width: $tablet) {
         font-size: rem(20);
      }
   }

   &__link {
      @include adaptiveValue("font-size", 16, 12);

      @media (max-width: $tablet) {
         color: $mainColor;
         @include adaptiveValue("font-size", 35, 30);
         font-weight: 600;
      }
   }

   li {
      position: relative;
   }
}

.icon-menu {
}

.sub-menu {
   &__list {
      display: none;
      z-index: 5;
      position: absolute;
      top: rem(19);
      left: rem(-10);
      padding: rem(23) rem(18);
      width: rem(239);
      border-radius: 8px;
      color: #1c1c1c;
      background: #fff;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);

      a {
         font-size: rem(16);
         display: flex;
         gap: rem(13);
         align-items: center;
      }
   }

   &__link {
   }
}
#HeaderMenu-contact[aria-expanded="true"]:before {
   transform: rotateZ(180deg);
}
details[open] .sub-menu__list {
   display: flex;
   flex-direction: column;
   gap: 24px;
   @media (max-width: $tablet) {
      top: auto;
      box-shadow: none;
   }
}

@media (max-width: $tablet) {
   .menu {
   }
}
